.card {
  width: 20%;
  height: 237px;
  /* height: 375px; */
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

.enemy {
  /* background-image: url('./assets/Penumbra.webp'); */
  width: 33.3%;
  height: 750px;
  background-repeat: no-repeat;
  background-size: cover;
}

.hand, .enemies {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}

